{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/edit-add.css' %}">
{% endblock %}

{% block content %}
    <main>
        <form method="post" class="edit_form">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="edit_add">
                <input type="submit" value="Add">
                <a href=".." class="edit_cancel" style="color: #ff5858">Back</a>
            </div>
        </form>
    </main>
{% endblock %}