{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/edit-add.css' %}">
{% endblock %}

{% block content %}
    <main>
        <form method="post" class="edit_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <div class="form-group">
                <label for="id_delete_files">{{ form.delete_files.label }}</label>
                {{ form.delete_files }}
            </div>
            <script>
                document.getElementById("id_start_date").type = "datetime-local";
                document.getElementById("id_end_date").type = "datetime-local";
                document.getElementById("id_deadline").type = "datetime-local";
            </script>
            <div class="edit_buttons">
                <button>Save</button>
                <a href="/details/{{ task.id }}" class="edit_cancel" style="color: #ff5858">Back</a>
            </div>
        </form>
    </main>
{% endblock %}