{% extends 'base.html' %}
{% block content %}
<body>
    {% for task in object_list %}
        <br>
        <a href="/details/{{ task.id }}" class="task">
            <div class="task">
                <div class="task_name">{{ task.title }}</div>
                <div class="task_creation_date">{{ task.creation_date|date:"Y-m-d" }}
                </div>
                <div class="task_working_person">{{ task.working_person }}</div>
                <div class="task_state" style="color: {{ task.state.color }};">{{ task.state.title }}</div>
                <div class="task_deadline">Deadline: {{task.deadline}}</div>
            </div>
        </a>
    {% endfor %}
    <br>
    <a href="/add" class="task">
        <div class="task">
            <div class="task_add">Add note</div>
            <i class="bi bi-plus-square"></i>
        </div>
    </a>

</body>
{% endblock %}

<!--{}