{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <br><br>
    <div class="row">
        {% for task in object_list %}
            <br>
            <a href="/details/{{ task.id }}" class="task col-12 col-md-4 col-lg-4 shadow-1">
                <div class="task">
                    <h1 class="task_name">{{ task.title }}</h1>
                    <div class="task_creation_date">{{ task.creation_date|date:"Y-m-d" }}</div>
                    <div class="task_working_person">{{ task.working_person }}</div>
                    <div class="task_state" style="color: {{ task.state.color }};">{{ task.state.title }}</div>
                    <div class="task_deadline">Deadline: {{task.deadline}}</div>
                </div>
            </a>
        {% endfor %}
    </div>
    <br>
    <hr><br>
    <a href="/add" class="task">
        <div class="add-button">
            <i class="bi bi-plus-circle-fill"></i>
            <div class="task_add">Add note</div>
        </div>
    </a>
{% endblock %}

<!--{}