{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/user-login.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h1>Create your account</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            {{ form.password2 }}
            <input type="submit" value="Create">
            <a href="/login/" class="register_cancel" style="color: #ff5858">Back</a>
        </form>
    </main>
{% endblock %}